@model VMS.Models.Car

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Car</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CarId)

        <div class="form-group">
            @Html.LabelFor(model => model.TypeOfCar, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TypeOfCar)
                @Html.ValidationMessageFor(model => model.TypeOfCar)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarStatus)
                @Html.ValidationMessageFor(model => model.CarStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarName)
                @Html.ValidationMessageFor(model => model.CarName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarNumber)
                @Html.ValidationMessageFor(model => model.CarNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchasingDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PurchasingDate)
                @Html.ValidationMessageFor(model => model.PurchasingDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChassisNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChassisNo)
                @Html.ValidationMessageFor(model => model.ChassisNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SeatCapacity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SeatCapacity)
                @Html.ValidationMessageFor(model => model.SeatCapacity)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
