@model IEnumerable<VMS.Models.UserRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Designation.DesignationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JourneyStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JourneyEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purpose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Designation.DesignationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JourneyStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JourneyEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purpose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserRequestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserRequestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserRequestId })
        </td>
    </tr>
}

</table>
