@using Microsoft.SqlServer.Server
@model VMS.Models.Driver

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Driver</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.DriverName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DriverName)
                @Html.ValidationMessageFor(model => model.DriverName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactNo)
                @Html.ValidationMessageFor(model => model.ContactNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LiscenceNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LiscenceNo)
                @Html.ValidationMessageFor(model => model.LiscenceNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Experience, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Experience)
                @Html.ValidationMessageFor(model => model.Experience)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JoiningDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.JQueryUI().DatepickerFor(model => model.JoiningDate)
                @Html.ValidationMessageFor(model => model.JoiningDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DriverStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DriverStatus)
                @Html.ValidationMessageFor(model => model.DriverStatus)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-datetimepicker")
<script>
   
    $('#JoiningDate').datetimepicker({ format: 'd/m/Y h:i a' });

</script>



}
  


