@model VMS.Models.AllRequestsFromUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AllRequestsFromUser</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserRequest.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRequest.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestStatusName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AllRequestsFromUserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
