@model VMS.Models.CarAssignToDriver

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CarAssignToDriver</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CarId, "CarId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CarId", String.Empty)
                @Html.ValidationMessageFor(model => model.CarId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DriverId, "DriverId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DriverId", String.Empty)
                @Html.ValidationMessageFor(model => model.DriverId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FromCarAssignDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromCarAssignDate)
                @Html.ValidationMessageFor(model => model.FromCarAssignDate)
                @*@Html.EJ().DateTimePicker("DateTime").MinDateTime("05/23/2014 09:00AM").MaxDateTime("05/29/2014 09:00 PM").Interval(30)*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToCarAssignDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToCarAssignDate)
                @Html.ValidationMessageFor(model => model.ToCarAssignDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
