@model VMS.Models.CarAssignToDriver

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CarAssignToDriver</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cars.CarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cars.CarName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drivers.DriverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drivers.DriverName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromCarAssignDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromCarAssignDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToCarAssignDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToCarAssignDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarAssignToDriverId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
